@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
  <h1>Add a Stylist</h1>

  @using(Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name) <span>&nbsp;</span>
    @Html.TextBoxFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Specialty) <span>&nbsp;</span>
    @Html.TextBoxFor(model => model.Specialty)
    <br /><br />
    <input type="submit" value="Add"/>
  }

</div>