@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
  <h1>Add a Stylist</h1>

  @using(Html.BeginForm())
  {
    <span class="formLab">Stylist's Name&nbsp;</span>
    @Html.TextBoxFor(model => model.Name)
    <br /><br />
    <span class="formLab">Stylist's Specialty&nbsp;</span>
    @Html.TextBoxFor(model => model.Specialty)
    <br /><br />
    <input type="submit" value="Add"/>
  }

</div>