@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="container">
  <h3>Delete @Model.Name?</h3>
  <h4>Are you sure you want to delete this stylist?</h4>
  <h3>Why?</h3>
  <h2>WHY?!</h2>

  <div class="bottomNav">
    @using (Html.BeginForm())
    {
      <input type="submit" value="Do It"/>
    }
  </div>
</div>