@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="container">
  <h1>Available Stylists</h1>

  @if (@Model.Count == 0)
  {
    <h4>There are no available stylists</h4>
  }

  <ul>
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId})</li>
      <ul>
        <li>@stylist.Specialty</li>
      </ul>
  }
  </ul>

  <div class="bottomNav">
    <p>@Html.ActionLink("Add a Stylist", "Create")</p>
  </div>
</div>