@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@300;400;600&display=swap');

body {
background: url("/../../img/background-image.png")no-repeat center center fixed rgba(138, 155, 167, 0.925);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-blend-mode:luminosity;

color:#fff;
font-family: 'Raleway', sans-serif;
}

a {
  color:#fff;
}

.bottomNav a {
  text-transform: uppercase;
}

.bottomNav a:hover {
  font-weight:600;
}

a:hover {
  color:blanchedalmond;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  padding-bottom:20px;
  font-size: 45pt;
}

h1, h2, h3, h4, h5 {
  font-family:'Italiana', serif;
  letter-spacing: .2rem;
  text-transform: lowercase;
}

.container {
  padding: 10% 0 0 10%;
}

.centerBlock {
width:70%;
height: 600px;
margin:10% auto;
box-sizing: border-box;
padding:2%;
text-align: center;
}

.centerBlock h1 {
  font-size: 100pt;
  font-family: 'Italiana', serif;
}

div#navBar {
  position:fixed;
  top:10px;
  right:0px;
  width:100%;
  color:rgb(227, 246, 255);
  padding:8px;
  font-weight:600;
  text-transform: lowercase;
  letter-spacing: .5rem;
}

#navBar a {
  color:#fff;
}

.column {
  float:right;
  width:15%;
  text-align:center;
}

.column2 {
  width:22%;
  float:left;
  height: 50px;
  margin:0 0 0 9%;
  text-align: center;
  font-size:15pt;
  letter-spacing: .3rem;
}

.bottomNav {
  padding: 50px 0 0 17%;
}

.formLab {
  text-transform: lowercase;
  letter-spacing: .3rem;
}

input {
  font-family: 'Italiana', serif;
  text-transform: lowercase;
  letter-spacing: .2rem;
}

select {
  font-family: 'Italiana', serif;
  text-transform: lowercase;
  letter-spacing: .2rem;
  padding: 5px 10px;
}

#cliStyEdit {
  padding: 50px 0 0 0;
}

#cliStyEdit li {
  letter-spacing: -.05rem;
}