@{
  Layout = "_LayoutA";
}

<div class="centerBlock">
  <h1>Clearwater Salon</h1><br />
  <div class="column2">
    <p>@Html.ActionLink("search stylists", "Search", "Stylists")</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("see all stylists", "Index", "Stylists")</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("see all clients", "Index", "Clients")</p>
  </div>
</div>