@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Clearwater Salon</h1>

  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
</div>