@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="container">
  <h1>Add a Client</h1>

  @using(Html.BeginForm())
  {
    <span class="formLab">Client's Name&nbsp;</span>
    @Html.TextBoxFor(model => model.ClientName)
    <br /><br />
    <span class="formLab">Stylist&nbsp;</span>
    @Html.DropDownList("StylistId")
    <br /><br />
    <input type="submit" value="Add"/>
  }

</div>