@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Client

<div class="container">
  <h3>Delete @Model.ClientName?</h3>
  <h4>Are you sure you want to delete this client?</h4>
  <h3>What about their hair?</h3>
  <h2>What will they do about their hair??</h2>

  <div class="bottomNav">
    @using (Html.BeginForm())
    {
      <input type="submit" value="Do It"/>
    }
  </div>
</div>