@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="container">
  <h1>Edit @Model.ClientName</h1>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)

    <span class="formLab">Client's Name&nbsp;</span>
    @Html.EditorFor(model => model.ClientName)
    <br /><br />
    <span class="formLab">Stylist&nbsp;</span>
    @Html.DropDownList("StylistId")
    <br /><br/>

    <input type="submit" value="Update"/>
  }
</div>