@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="container">
  <h1>Clearwater Clients</h1>

  @if (@Model.Count == 0)
  {
    <h4>You haven't added any clients, yet</h4>
  }

  <ul class="stylistSp">
  @foreach (Client client in Model)
  {
    <li><strong>@Html.ActionLink($"{client.ClientName}", "Details", new {id = client.ClientId}) </strong><br /><span>Stylist: @client.Stylist.Name</span></li>
  }
  </ul>

  <div class="bottomNav">
    <p>@Html.ActionLink("— Add a Client —", "Create")</p>
  </div>
</div>